apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: alertmanager
  template:
    metadata:
      labels:
        app: alertmanager
    spec:
      containers:
      - image: prom/alertmanager:latest
        imagePullPolicy: Always
        name: alertmanager
        args: [
          "--config.file=/opt/pydis/alertmanager/config.d/alertmanager.yaml",
          "--web.external-url=https://alertmanager.pythondiscord.com"
        ]
        ports:
        - name: alertmanager
          containerPort: 9093
        volumeMounts:
        - name: alertmanager-config
          mountPath: /opt/pydis/alertmanager/config.d
        - name: alertmanager-webhooks
          mountPath: /opt/pydis/alertmanager/webhooks
      restartPolicy: Always
      volumes:
        - name: alertmanager-config
          configMap:
            name: alertmanager-config
        - name: alertmanager-webhooks
          secret:
            secretName: alert-manager-hook
